.video-card {
    background-color: #1e1e1e;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 220px;
    margin: 10px;
    flex-shrink: 0;
}

.video-card:hover {
    transform: scale(1.05);
}

.video-thumbnail {
    width: 100%;
    height: auto;
}

.video-title {
    color: #ffffff;
    text-align: center;
    padding: 10px;
}

@media (max-width: 768px) {
    .video-grid {
        padding: 5px;
    }
    .video-card {
        width: 90%;
        font-size: 14px;
    }
}
