.home-container {
  max-width: 1200px;
  margin: auto;
  gap: 20px;
  background-color: #121212;
  color: #ffffff;
  padding: 1rem;
}

.home-container h2 {
  margin-bottom: 10px;
}

.login-prompt {
  margin: 20px 0px;
  display: flex;
  align-items: center;
  gap: 5px;
}

@media (max-width: 768px) {
  .home-container {
    padding: 1rem 0.5rem;
  }
}
