.video-modal-overlay {
  background-color: rgba(0, 0, 0, 0.8);
}

.video-modal {
  position: absolute;
  bottom: -55px;
  height: 220px;
  width: 100%;
  padding: 10px;
  background-color: #000000;
  overflow-y: auto;
  z-index: 2;
  box-sizing: border-box;
}

.close-modal-btn {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #da041c;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  z-index: 2;
  line-height: 5px;
}

.close-modal-btn > svg {
  width: 20px;
  height: 20px;
}

.video-slider {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 10px;
  padding-top: 50px;
  overflow-x: scroll;
}

.video-slider::-webkit-scrollbar {
  display: none;
}

@media (min-width: 1024px) {
  .video-slider {
    justify-content: space-around;
  }
}
